# Dependency directories
node_modules/
**/node_modules/
jspm_packages/
web_modules/

# Sanity build/cache
.sanity/
**/dist/

# Local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
